
/* Add a grey background color to the page*/

* {
    box-sizing: border-box;
}
/* Color and styles text */
p1{
    color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h2{
    color: #4aaaa5;
    font-size: 25px;
}
    
h3{
        color: #4aaaa5;
        font-size: 20px;
}


label{
    color: #4aaaa5;
}

body{
margin: 0;
padding: 0;
font-family: Georgia, "Times New Roman", Times, serif;
background: #F0FFF0;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxx */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxx */
/* Header   White colored bar at top*/
.header-box{
height: 80px;
margin-top: 25px;
margin-left: 100px;
margin-right: 100px;
background-color: white;
color: #4aaaa5;
border-top: 0px solid #dddddd;
padding: 0px;
}

/* Header/text/Matthew Wright*/
.header-box-text{
    float: left;
    text-align: center;
    position: absolute;
    margin-left: 190px;
    background-color: #4aaaa5;
    color: white;
    width: 320px;
    height: 80px;
    padding-top: 20px;
    font-size: 40px;
}

/* Header/Nav Bar on top right*/
.header-box-navbar{
float: right;
width: 290px;
margin-right: 160px;
word-spacing: 10px;
padding-left: 20px;
padding-top: 30px;
}

/* Change the color of links on hover */
.header-box-navbar a:hover {
background-color: #ddd;
color: #4aaaa5;
}

/* Removes the Underline from links on Nav Bar*/
a{
text-decoration: none;
color: #4aaaa5;
}

/* Makes the nav bar list horizontal*/
li {
display: inline;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

ul1{
    word-spacing: 15px;
}
/* END OF HEADER      XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxx */

/* CONNECT ME SECTION - APPEARS ON ALL PAGE */

.connectmebox{
    position: relative;
    float: left;
    text-align: center;
    top: 50px;
    left: 225px;
    width: 270px;
    height: 150px;
    right: 190px;
    border: 1px solid #dddddd;
    background-color: white;
    padding: 15px;
    word-spacing: 2px;
}

/* Change the color of links on hover */
.connectmebox a:hover {
    background-color: #ddd;
    color: #4aaaa5;
}

/* END OF CONNECT WITH ME SECTION XXXXXXXXXXXXXXXXXXXXXXXXXX */


/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

/* ABOUT ME BOX STYLING */
.mainmiddleboxA{
    margin-left: 100px;
    margin-right: 100px;
    height: 525px;
    border-top: 3px solid #dddddd;
    background-color: #dddddd;
}
.aboutmebox{
    position: relative;
    float: left;
    left: 190px;
    top: 50px;
    width: 650px;
    height: 425px;
    border: 1px solid #dddddd;
    background-color: white;
    padding: 15px;
}


.selfie{

    position: relative;
    float: left;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 200px;
    padding: 10px;
    }
/*************************************/
/* END OF ABOUT ME SECTION  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */






/* PORTFOLIO BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/

.mainmiddleboxB{
    margin-left: 100px;
    margin-right: 100px;
    height: 625px;
    border-top: 3px solid #dddddd;
    background-color: #dddddd;
}

.portfoliobox{
    position: relative;
    float: left;
    left: 190px;
    top: 50px;
    width: 650px;
    height: 525px;
    border: 1px solid #dddddd;
    background-color: white;
    padding: 15px;  
}

.pic{
    width: 250px;
    height: 180px;
}

.container3{
    position: relative;
    float: left;
    left: 25px;
    right: 10px;
    top: -10px;
    padding: 10px;
}

.container4{
    position: relative;
    float: left;
    left: 50px;
    right: 10px;
    top: -10px;
    padding: 10px;
}
.container5{
    position: relative;
    float: left;
    left: 25px;
    right: 10px;
    top: 5px;
    padding: 10px;
}
.container6{
    position: relative;
    float: left;
    left: 50px;
    right: 10px;
    top: 5px;
    padding: 10px;
}

.text-block{
    width:100%;
    bottom: 20px;
    left: 20px;
}

/*  END OF PORTFOLIO   BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB */


/* CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC */
/* CONTACT ME BOX STYLING */

.mainmiddleboxC{
    margin-left: 100px;
    margin-right: 100px;
    height: 525px;
    border-top: 3px solid #dddddd;
    background-color: #dddddd;
}

.contactmebox{
    position: relative;
    float: left;
    left: 190px;
    top: 50px;
    width: 650px;
    height: 380px;
    border: 1px solid #dddddd;
    background-color: white;
    padding: 15px;
}

.contact-form-style{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

label{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
}

input{
    font-size: 16px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {

width: 100%; /* Full width */
padding: 10px; /* Some padding */  
border: 1px solid #ccc; /* Gray border */
border: 4px; /* borders */
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {

background-color: #4CAF50;
color: white;
background-color: #4aaaa5;
padding: 12px 20px;
border: none;
border: 4px;
cursor: pointer;
}

/* When moving the mouse over the submit button, add a color */
input[type=submit]:hover {
background-color: #ddd;
color: #4aaaa5;
}

/* Add a background color and some padding around the form */
.container-contact-form {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}
/* END OF CONTACT ME SECTION  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC */




/*************************************************************/
.footer{
        height: 80px;
        margin-left: 100px;
        margin-right: 100px;
        background-color: #666666;
        text-align: center;
        padding: 25px;
        border-top: 5px solid teal;
        margin-top: 0px
    }

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxx */





